body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.checkout-container{
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    max-width: 800px;
}
.left-section{
    width: 60%;
    padding: 20px;
}
.right-section{
    width: 40%;
    padding: 20px;
    background-color: rgba(29, 92, 187, 0.911);
    color: white;
}
span{
font-size: 40px;
}
label {
    display: block;
    margin: 10px 0 5px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    background: #007a33;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
}
.form-group{
    width: 100%;
    display: flex;
}
.form-group input{
width:50%;
}
img{
    width:50px;
    height:10vh;
}
